.new-sub{
    .btn{
        padding: 15px 30px;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        outline: none;
        &.fill{
            color: #fff;
            a{
                color: inherit;
            }
            &.primary{
                background-color: $color-primary;   
            }
            &.secondary{
                background-color: $color-secondary;   
            }
            &.d-grey{
                background-color: #888;
            }
            &:hover {
                opacity: 0.8;
            }
        }
        &.line{
            color:$color-primary;
            background-color: transparent;
            &.primary{
                border-color: $color-primary;
            }
        }
    }
    .input-wrap {
        position: relative;
        margin-bottom: 25px;
        display: block;
        &.text-wrap{
            span{
                display: block;
            }
            min-width: 100%;
            textarea{
                width: 100%;
                padding: 20px 30px;
                background-color: #f7f7f7;
                outline: none;
                border: none;
                border-radius: 20px;
            }
        }
        >span {
            display: flex;
            align-items: center;
            min-height: 60px;
            button {
                max-width: 126px;
                font-size: 16px;
                margin-left: 10px;
            }
        }
        figure {
            position: absolute;
            right: 15px;
            top: 18px;
            img {
                max-height: 25px;
                display: none;
                &.on {
                    display: block;
                }
            }
        }
        input[type=text]
        ,select {
            padding: 20px 16px;
            background-color: #f7f7f7;
            border-radius: 70px;
            border: none;
            outline: none;
            width: 100%;
            display: block;
        }
        select{
           appearance: none; 
           background-image: url(/public/img/select-arrow-down.png);
           background-size: 14px 7px;
           background-repeat: no-repeat;
           background-position: 96%;
        }
        small {
            display: block;
            margin-top: 10px;
            font-size: 12px;
            color: $color-error;
            padding: 0 15px;
        }
    }
    .btn-lists{
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            .btn{
                padding: 15px 40px;
            }
            & + li{
                margin-left: 10px;
            }
        }
    }
    .filtering-wrap{
        height: 44px;
        position: relative;
        width: 100%;
        margin-bottom: 60px;
        .btn{
            padding: 15px 30px;
            a{
                color: inherit;
            }
        }
        .search{
            position: absolute;
            right: 0; top: 0; 
            input{
                padding: 15px 0;
                width: 270px;
                border: none;
                border-bottom: 1px solid #eee;
                font-size: 16px;
                outline: none;
                &::placeholder{
                    color: #888;
                }
            }
            button{
                background-color: transparent;
                border: none;
                outline: none;
            }
            figure{
                width: 44px;
                height: 44px;
                background-color: $color-primary;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    max-height: 14px;
                }
            }
        }
        .tab-lists{
            display: flex;
            align-items: center;
            li{
                padding: 15px 24px;
                font-size: 20px;
                border-radius: 50px;
                a{
                    color: #ccc;
                    transition: all 0.3s;
                }
                &:hover{
                    a{
                        color: $color-primary;
                    }
                }
                &.active{
                    a{
                        color: #fff;
                    }
                    background-color: $color-primary;
                }
            }
        }
    }
    .table-list-wrap{
        overflow-x: scroll;
        &::-webkit-scrollbar{
            display: none;
        }
        table{
            width: 100%;
            th,td{
                text-align: center;
                padding: 20px 15px;
                font-weight: 400;
                white-space: nowrap;
            }
            thead{
                border-bottom: 1px solid #000;
            }
            tbody{
                tr{
                    border-bottom: 1px solid #eee;
                    td{
                        color: #666;
                        &.table-list-title{
                            text-align: left;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            max-width: 300px;
                        }
                        &.done{
                            color: $color-primary;
                        }
                        &.pending{
                            color: $color-error;
                        }
                    }
                    td{
                        &:first-child{
                            color: $color-primary;
                        }
                    }
                }
            }
        }
    }
    .pagination-wrap{
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .pagination-arrow{
            a{
                color: #888;
                transition: all 0.3s;
                &:hover{
                    color: #222;
                }
            }
        }
        .pagination-nums{
            display: flex;
            align-items: start;
            margin: 0 15px;
            li{
                width: 44px;height: 44px;
                display: inline-flex;
                justify-content: center; align-items: center;
                background-color: #fff;
                transition: all 0.3s;
                border-radius: 50%;
                cursor: pointer;
                &:hover{
                    background-color: #ccc;
                }
                &.active{
                    background-color: $color-primary;
                    color: #fff;
                }
            }
        }
    }
    .sub-admin-payment{
        .payment-alert{
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            strong{
                color: $color-primary;
                font-size: 18px;
                font-weight: 500;
            }
            figure{
                min-width: 44px;
                height: 44px;
                border-radius: 50%;
                border: 1px solid $color-primary;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 20px;
                img{
                    max-height: 14px;
                }
            }
        }
        .payment-form-wrap{
            form{
                div{
                    display: flex;
                    flex-wrap: wrap;
                }
            }
            .input-wrap{
                width: calc(100%/2 - 40px);
                &:nth-child(odd){
                    margin-right: 80px;
                    label{
                        min-width: 80px;
                    }
                    small{
                        margin-left: 110px;
                    }
                }
                &:nth-child(even){
                    label{
                        min-width: 120px;
                    }
                    small{
                        margin-left: 150px;
                    }
                }
                label{
                    line-height: 60px;
                    margin-right: 30px;
                }
                
            }
            .btn-wrap{
                margin-top: 60px;
                display: flex;
                justify-content: center;
            }
        }
    }
    .sub-board-content{
        .sub-board-content-top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 30px;
            margin-bottom: 50px;
            border-bottom: 1px solid #eee;
            h2{
                font-size: 25px;
                margin-bottom: 0!important;
            }
            span{
                font-size: 16px;
                color: #888;
            }
        }
        .sub-board-content-main{
            p{
                font-size: 16px;
                line-height: 1.5;
                color: #444;
            }
        }
        .sub-board-content-bottom{
            margin: 80px 0;
            text-align: center;
        }
    }
    .sub-board-comments{
        .btn{
            font-size: 14px;
            padding: 5px 15px!important;
        }
        .total-comment{
            font-size: 16px;
            margin-bottom: 20px;
            display: block;
        }
        textarea{
            width: 100%;
            border: none;
            outline: none;
            background-color: #f7f7f7;
            padding: 20px;
            border-radius: 15px;
            color: #444;
            &#comment-before-login{
                height: 60px;
                overflow: hidden;
            }
            &:disabled{
                color: #ccc;
            }
        }
        .board-comment-write{
            margin-bottom: 50px;
        }
        .after-login{
            position: relative;
        }
        .comment-profile{
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .comment-profile-left{
                display: flex;
                align-items: center;
                span{
                    margin-left: 10px;
                    display: block;
                }
                img{
                    max-height: 40px;
                }
            }
            .comment-profile-right{
                span{
                    color: #888;
                }
            }
        }
        .writing-details{
            display: flex;
            align-items: center;
            position: absolute;
            right: 15px; bottom: 15px;
            .count-num{
                color: #666;
                margin-right: 10px;
            }
        }
        .comment-btn-lists{
            margin-top: 20px;
            display: flex;
            .editable-btn{
                margin-left: 5px;
            }
        }
        .board-comment-list,
        .board-comment-reply,
        .comment-detail{
            margin-bottom: 30px;
        }
        .board-comment-replys{
            background-color: #F6F3F9;
            padding: 35px;
            textarea{
                background-color: #fff;
            }
        }
        .hidden-replys{
            background-color: #F6F3F9;
            padding: 15px;
            border-top: 1px solid #eee;
            text-align: center;
            &::after{
                content: "";
                border: solid black;
                border-width: 0 1px 1px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
                margin-left: 10px;
            }
        }
    }
    .message-wrap{
        display: flex;
        small{
            padding: 1px 6px;
            font-size: 12px;
            border-radius: 20px;
            border: 1px solid #000;
            &.teacher{
                border-color: $color-primary;
                color: $color-primary;
            }
            &.admin{
                border-color: $color-secondary;
                color: $color-secondary;
            }
            &.student{
                border-color: #666;
                color: #666;
            }
        }
        .message-left{
            min-width: 340px;
            margin-right: 50px;
            strong{
                font-size: 25px;
                font-weight: 500;
                margin-bottom: 20px;
                display: block;
            }
            .message-lists{
                max-height: 100vh;
                overflow-y: scroll;
                overflow-x: hidden;
            }
            .message-list{
                width: 100%;
                display: flex;
                padding: 12px 10px;
                position: relative;
                &.recent{
                    background-color: #E9EFFD;
                }
                .message-time{
                    font-size: 12px;
                    color: #888;
                    position: absolute;
                    right: 15px;
                    top: 15px;
                }
                img{
                    max-height: 50px;
                }
                >span{
                    margin-left: 15px;
                    >span{
                        display: flex;
                        align-items: center;
                        .name{
                            font-size: 18px;
                            margin-bottom: 0;
                            margin-right: 10px;
                        }
                    }
                    p{
                        font-size: 16px;
                        margin-top: 2px;
                    }
                }
            }
        }
        .message-right{
            flex: 1;
            .message-right-top{
                display: flex;
                align-items: center;
                >span{
                    display: flex;
                    align-items: center;
                }
                .name{
                    font-size: 20px;
                    margin-left: 15px;
                    margin-right: 5px;
                }
                img{
                    max-height: 55px;
                }
            }
            .message-right-bottom{
                .message-chat-wrap{
                    height: calc(100vh - 45px);
                    overflow-y: scroll;
                    overflow-x: hidden;
                }
                .date{
                    position: relative;
                    display: block;
                    width: 100%;
                    text-align: center;
                    z-index: 5;
                    margin: 30px 0;
                    b{
                        display: inline-block;
                        width: 200px;
                        height: 20px;
                        background-color: #fff;
                        position: relative;
                        z-index: 5;
                        font-weight: 400;
                        color: #ddd;
                    }
                    .line{
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: #ddd;
                        position: absolute;
                        left: 0; top: 50%;
                        transform: translateY(-50%);
                        z-index: 1;
                    }
                }
                .chat-bubble{
                    display: flex;
                    position: relative;
                    margin-bottom: 20px;
                    img{
                        max-height: 40px;
                    }
                    p{
                        padding: 10px;
                        background-color: #eee;
                        margin-left: 10px;
                        font-size: 16px;
                        display: inline-block;
                        width: auto;
                        max-width: 80%;
                        position: relative;
                    }
                    .time{
                        border: none;
                        padding: 0;
                        position: absolute;
                        right: -35px;bottom: 0;
                        color: #888;
                        font-size: 12px;
                    }
                    &.left{
                        p{
                            border-radius: 0 10px 10px 10px;
                        }
                    }
                    &.right{
                        justify-content: flex-end;
                        p{
                            border-radius:  10px 0 10px 10px ;
                            background-color: $color-primary;
                            color: #fff;
                        }
                        .time{
                            right: unset;
                            left: -35px;
                        }
                    }
                }
            }
            .message-chat-type{
                display: flex;
                justify-content: space-between;
                align-self: start;
                textarea{
                    border: none;
                    outline: none;
                    height: 45px;
                    width: 100%;
                    margin: 0 10px;
                    background-color: #f7f7f7;
                    padding: 10px 15px; 
                    border-radius: 10px;
                }
                img{
                    max-height: 40px;
                }
            }
        }
    }
    .payment-done-wrap{
        display: flex;
        align-items: center;
        .payment-done-left{
            margin-bottom: 50px;
            flex: 1;
            h2{
                font-size: 40px!important;
                font-weight: 300!important;
                margin-bottom: 30px!important;
                .color-primary{
                    font-weight: 500;
                }
            }
            p{
                font-size: 18px;
                color: #888;
                line-height: 1.5;
            }
            .payment-done-btns{
                display: flex;
                align-items: center;
                margin-top: 80px;
                li{
                    margin-right: 10px;
                }
            }
        }
        .payment-done-right{
            flex: 1;
            img{
                width: 100%;
                max-height: 630px
            }
        }
    }
    .profile-content{
        .profile-top{
            display: flex;
            justify-content: space-between;
            .profile-top-left{
                display: flex;
                align-items: center;
                .profile-pic{
                    width: 60px;
                    height: 60px;
                    margin-right: 20px;
                    position: relative;
                    cursor: pointer;
                    &:hover{
                        .hover{
                            display: block;
                        }
                    }
                    img{
                        position: absolute;
                        left: 0; top: 0;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                    }
                    .hover{
                        display: none;
                    }
                }
                strong{
                    font-size: 25px;
                    font-weight: 500;
                }
            }
            .btn{
                padding: 12px 30px;
            }
        }
        .profile-sections{
            margin-top: 60px;
            .profile-section{
                border-bottom: 1px solid #eee;
                .profile-section-tit{
                    font-size: 20px;
                    margin-bottom: 30px;
                }
                & + .profile-section {
                    margin-top: 50px;
                }
            }
            .input-wrap{
                textarea{
                    display: block;
                    width: 100%;
                    border: none;
                    background: #f7f7f7;
                    padding: 20px;
                    border-radius: 20px;
                    margin-top: 20px;
                    outline: none;
                }
            }
            
            .input-flex-layout{
                display: flex;
                flex-flow: row wrap;
                display: flex;
                justify-content: space-between;
                input[type=text]{
                    flex: 1;
                }
                .checkbox-wrap{
                    display: flex;
                    align-items: center;
                    flex: 1;
                }
                .profile-character{
                    .checkbox-wrap{
                        display: block;
                        margin-bottom: 20px;
                        .custom-checkbox{
                            & + .custom-checkbox{
                                margin-left: 0;
                                margin-top: 10px;
                            }
                        }
                    }
                }
                .input-wrap{
                    width: calc(100%/2 - 30px);
                    small{
                        padding: 0;
                        color: #888;
                    }
                    >label{
                        margin-bottom: 20px;
                        font-weight: 500;
                    }
                    .custom-checkbox{
                        margin: 0;
                        align-items: center;
                        & +.custom-checkbox{
                            margin-left: 10px;
                        }
                        label{
                            font-weight: 400;
                            white-space: nowrap;
                        }
                        input{
                            min-width: 60px;
                        }
                    }
                    select{
                        flex: 1;
                    }
                }
                .eng-level{
                    margin-bottom: 10px;
                    strong{
                        min-width: 80px;
                        font-weight: 400;
                    }
                    .checkbox-wrap{
                        flex: 1;
                        display: flex;
                        align-items: center;
                    }
                }
                .prefer-input-wrap{
                    width: calc(50% - 30px);
                    >label{
                        margin-bottom: 20px;
                        font-weight: 500;
                    }
                    .input-wrap{
                        width: 100%;
                        height: 60px;
                        label{
                            margin-right: 20px;
                            min-width: 50px;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 991px) {
    .new-sub{
        .sub-admin-payment {
            .payment-form-wrap {
                form {
                    div{
                        display: block;
                        .input-wrap{
                            width: 100%;
                            span{
                                display: block;
                            }
                            label{
                                min-width: auto;
                                line-height: 20px;
                                margin-left: 15px;
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
            }
        }
        .payment-done-wrap{
            .payment-done-left{
                h2{
                    font-size: 30px!important;
                }
                p{
                    font-size: 14px;
                }
                .payment-done-btns{
                    margin-top: 40px;
                }
            }
        }
        .profile-content {
            .profile-sections {
                .input-flex-layout{
                    display: block;
                    .input-wrap{
                        width: 100%!important;
                        height: auto!important;
                        >span{
                            min-height: auto!important;
                        }
                        .prefer-lecture-check{
                            .custom-checkbox{
                                flex:1
                            }
                        }
                        .custom-checkbox {
                            .label-txt{
                                padding-left: 25px;
                            }
                            input{
                                min-width: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 767px) {
    .new-sub {
        .btn{
            padding: 10px 25px!important;
            font-size: 18px;
        }
        .filtering-wrap {
            height: auto;
            margin-bottom: 40px;
            .tab-lists{
                li{
                    padding: 12px 20px;
                    a{
                        font-size: 16px;
                    }
                }
            }
            .search{
                text-align: right;
                margin-top: 20px;
                position: static;
            }
        }
        .sub-admin-payment {
            .payment-alert {
                strong{
                    font-size: 16px;
                }
            }
       }
       .sub-board-content{
            .sub-board-content-top{
                padding-bottom: 20px;
                margin-bottom: 40px;
                display: block;
                h2{
                    font-size: 20px!important;
                    margin-bottom: 5px!important;
                }
            }
        }
        .sub-board-comments {
            .board-comment-replys{
                padding: 20px 15px;
            }
        }
        .message-wrap {
            .message-left{
                width: 100%;
                margin-right: 0;
                .message-lists{
                    overflow: visible;
                    max-height: 100%;
                }
                strong{
                    font-size: 20px;
                }
            }
            .message-right{
                display: none;
            }
        }
        .payment-done-wrap{
            flex-direction: column-reverse;
            text-align: center;
            .payment-done-right{
                img{
                    max-height: 300px;
                }
            }
            .payment-done-btns{
                justify-content: center;
            }
        }
        .profile-content {
            .profile-top {
                .profile-top-left{
                    strong{
                        font-size: 22px;
                    }
                }
                .btn{
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    border-radius: 0;
                    z-index: 100;
                }
            }
        }
    }
}